#header_title {
	text-align: center;
	color: #008cba;
}
#main_div {

}

#side_bar {
	background-color: #DADADA;
	border-radius: 5px;
}

.side_bar_section {
	border-bottom: solid 1px;
	border-color: #999797;
}

.error {
	color: red;
}

.com {
	margin: 15px 0 15px 0 !important;
}
